@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: #212441;
    color: #fff;
    font-size: 18px; 
}

/*----------------------------------------HEADER */

.navbar {
    padding: 0 10px 0 10px;
}

.navbar-brand {
    color: #fff;
    font-size: 120%;
    font-family: 'Great Vibes', sans-serif;
    text-transform: capitalize;
    margin: 0;
    padding: 0 10px 0 10px;
}

.navbar-brand:hover {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-family: 'Great Vibes', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    line-height: 1.5;
}

nav {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: 0;
}

.navbar-nav li {
    letter-spacing: 1px;
    padding-right: 10px;
}

.navbar-nav a {
    color: #fff;
    font-size: 160%;
    font-weight: 500;
    font-family: 'Great Vibes', sans-serif;
}

.navbar-nav a:hover {
    color: #EB7F37;
    text-decoration: none;
}

.navbar-nav .active a {
    text-decoration: none;
    color: #EB7F37;
}

.hero {
    background: url(../images/dbn3.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    width: 100%;
    position: relative;
}

.hero-contact {
    background: url(../images/dbn5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero-capetown {
    background: url(../images/ct1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    position: relative;
}

.hero-durban {
    background: url(../images/dbn2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    position: relative;

}

.band, .band2 {
    background: #EB7F37;
    height: 5px;
}

.band2 {
    margin-top: 25px;
}

/*----------------------------------------INTRO */

h2 {
    color: #EB7F37;
    font-size: 320%;
    text-align: center;
    font-family: 'Great Vibes', sans-serif;
    margin: 0;
    padding-bottom: 0;
    overflow-y: hidden;
}

h2.card-heading {
    color: #C75000;
}

.intro p {
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*----------------------------------------IMAGES SECTION */

.img-cards {
    margin-bottom: 25px;
}

.card-heading {
    color: #EB7F37;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: #000;
    height: fit-content;
}

.card2 {
    height: fit-content;
    margin-bottom: 25px;
}

.activities {
    list-style-type: circle; 
    overflow-x: visible;
 }

.title {
    color: #000;
    text-decoration: underline;
}

.button {
    border: none;
    border-radius: 4px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #C75000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #212441;
}

.explore-button:hover {
    border: 1px solid #c75000;
}

.button a {
    text-decoration: none;
    display: block;
}

.button a:hover {
    text-decoration: none;
}

/*--------------------------------VIDEO*/



/*--------------------------------MAP*/

.map-center-button {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    background-color: #c75000;
    color: #fff;
    height: 50px;
    width: 70%;
    margin: 25px;
}

#map {
    height: 70vh;
    width: 100%;
}

#map * {
    overflow: visible;
}

#legend {
    font-family: "lato", sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: #EB7F37;
    padding: 10px;
    margin: 10px;
    border: 3px solid #212441;
    color: #fff;
}

#legend h3 {
    margin-top: 0;
    text-align: center;
}

#legend img {
    vertical-align: middle;
}

/*----------------------------------------MODAL */

.modal-header, .modal-body, .modal-footer {
    background-color: #323870;
}

/*----------------------------------------FOOTER */

.footer-row {
    background: #212441;
}

.footer-p {
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
}

.footer-icons {
    color: #fff;
    text-align: center;
}

i {
    color: #fff;
    font-size: 250%;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.subscribe-btn {
    color: #fff;
}

/*----------------------------------------CONTACT FORM */

h2 {
    padding: 15px;
}

h3 {
    line-height: 1.5;
}

.contact-form {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.form-box {
    margin: 50px;
    border-radius: 20px;
    border: 2px solid #ccc;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 80vh;
}

.text-input, .textarea {
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    width: 80%;
}

.textarea {
    height: 100px;
    resize: none;
    margin-bottom: 35px;
}

.submit-button {
    width: 40%;
    margin-bottom: 5px;
    border-radius: 4px;
}

/*----------------------------------------MEDIA QUERIES */

@media screen and (max-width: 820px) {
    .hero {
        background: url(../images/responsive/dbn3-responsive.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50vh;
        position: relative;
    }
    
    .hero-contact {
        background: url(../images/responsive/bn5-responsive.webp);
        background-color: #212441;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .hero-capetown {
        background: url(../images/responsive/ct1-responsive.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
        position: relative;
    }
    
    .hero-durban {
        background: url(../images/responsive/dbn2-responsive.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
        position: relative;
    }  

    .form-box {
        margin: 35px auto;
        height: fit-content;
    }

    .column {
        width: 100%;
        display: block;
    }

    .card {
        margin-bottom: 10px;
    }

    h2 {
        padding: 10px;
        font-size: 2.5rem;
    }
    
    h3 {
        line-height: 1.5;
    }
    
    .contact-form {
        color: #fff;
        text-align: center;
        font-size: 18px;
    }
    
    .form-box {
        margin: 25px auto;
        height: fit-content;
    }
    .map-center-button {
        margin: 10px 0;
        width: fit-content;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    #legend {
        visibility: hidden;
    }

    .hero-contact {
        background: none;
        height: fit-content;
    }
}  
