@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: #2F4E6A;
}

/*----------------------------------------HEADER */

.logo {
    background: #2F4E6A;
}

h1 {
    color: #fff;
    background: #2F4E6A;
    font-size: 500%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
nav {
    background: #EB7F37;
}

.navbar-nav a {
    color: #2F4E6A;
    font-size: 18px;
    font-weight: 500;
}

.navbar-nav a:hover {
    color: #2F4E6A;
}

.navbar-nav .active a {
    text-decoration: underline;
}

/*----------------------------------------HERO IMAGE */

.hero {
    background: url(/assets/images/pexels-andrew-harvard-2587663.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
}


.band {
    background: #EB7F37;
    height: 5px;
}


/*----------------------------------------INTRO */

.intro p {
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #fff;
    margin-top: 30px;
}

.btn-primary {
    background: #EB7F37;
    color: #fff;
    border-color: #fff;
    font-size: 14pt;
    font-weight: normal;
    width: 250px;
    margin: 0 25px 0 25px;
}

.btn-primary:hover {
    background: #EB7F37;
    color: #2F4E6A;
    border-color: #2F4E6A;
}

/*----------------------------------------IMAGES SECTION */

.img-section {
    background: #EB7F37;
}

/*----------------------------------------FOOTER */

.footer-row {
    background: #2F4E6A;
}

.footer-p {
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.footer-icons {
    color: #fff;
    text-align: center;
}

i {
    color: #fff;
    font-size: 250%;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

/*----------------------------------------CONTACT FORM */

h2 {
    padding: 15px;
}

.contact-box {
    background: url(/assets/images/pexels-andrew-harvard-11311707.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.contact-form {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.5);
}


