@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    background: #eae1df;
}

h1 {
    color: #494462;
    background: #eae1df;
    font-size: 500%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

.hero {
    background: url(/assets/images/pexels-andrew-harvard-11311707.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
}

